.container{
    width:30%;
    height:50%;;
    margin-left: 25%;
}

ul{
    list-style: none;
}

ul h2{
    display: inline;
    padding-right: 30px;
}

ul li{
    font-weight: bold;
    
}

ul li p{
    padding-left: 50px;
    display: inline;
    font-weight: normal;
    
}

ul li:nth-of-type(3n){
    background-color: aliceblue;
}

.container{
    -webkit-box-shadow:;
    box-shadow: 1px 1px 5px red;
    margin-top: 10%;
}
